html, body {margin: 0; height: 100%; overflow: hidden}

.app {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inner-frame {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* style for background of webpage   */
  background-image: url("./resources/images/green.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  /* temporary to stop scrolling */
  /* overflow: hidden; */
}


.cat{
  position: absolute;
  height: 80vh;
  left: 80vw;
}


.ad{
  position: absolute;
  width: 60vw;
  left: 20vw;
  bottom: -10vh;
  pointer-events: none;
}

.wordart{
  position: absolute;
  width: 60vw;
  top: -10vh;
}

.box{
  position: absolute;
  width: 60vw;
  height: 64vh;
  top: 22vh;
  left: 20vw;
  background-color: black;
  color: white;
  overflow: scroll;
}
